<footer class="bg-dark text-center text-white">
    <div class="container-lg p-4">
        <section>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-0 mb-sm-4">
                    <h5 class="text-uppercase">Contact Us</h5>
                        <ul class="list-unstyled">
                          {% for item in site.data.[page.footer] %}
                            <li><a {{ item.link }}>{{ item.text }}</a></li>
                          {% endfor %}
                        </ul>
                </div>
                <div class="col-lg-6 col-md-6 mb-0">
                    <h5 class="text-uppercase">Social Media</h5>
                    <a href="https://www.facebook.com/ntiuppsala" class="text-white">
                        <img src="{{ site.baseurl }}/assets/images/fb-icon.png" class="icon-link p-2" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/ntiuppsala/" class="text-white">
                       <img src="{{ site.baseurl }}/assets/images/ig-icon.png" class="icon-link p-2" alt="Instagram">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="text-white">© 2021 Copyright Frisör Cleopatra</p>
    </div>
</footer>