<footer class="bg-dark text-center text-white">
    <div class="container-lg p-4">
        <section>
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-0 mb-sm-4">
                    <h5 class="text-uppercase">Kontakta oss</h5>
                        <ul class="list-unstyled">
                            <li><a href="tel:0630-555-555">063-055 55 55</a></li>
                            <li><a href="mailto:info@ntig-uppsala.github.io">info@ntig-uppsala.github.io</a></li>
                            <li><a href="https://www.google.com/maps/place/Fj%C3%A4llgatan+32,+981+39+Kiruna/@67.8660567,20.2318298,17z/data=!3m1!4b1!4m5!3m4!1s0x45d0ba6368d7c9a3:0xe3887ef038c559b0!8m2!3d67.8660547!4d20.2340185" target="_blank">Fjällgatan 32H<br>981 39 Kiruna</a></li>
                        </ul>
                </div>
                <div class="col-lg-6 col-md-6 mb-0">
                    <h5 class="text-uppercase">Sociala medier</h5>
                    <a href="https://www.facebook.com/ntiuppsala" class="text-white">
                        <img src="{{ site.baseurl }}/assets/images/fb-icon.png" class="icon-link p-2" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com/ntiuppsala/" class="text-white">
                       <img src="{{ site.baseurl }}/assets/images/ig-icon.png" class="icon-link p-2" alt="Instagram">
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="text-white">© 2021 Copyright Frisör Cleopatra</p>
    </div>
</footer>