<nav class="nav affix"> <!-- Start of the navbar -->
    <div class="container-lg">
        <div class="logo">
            <a href="/frisor-cleopatra/" class="logo-header-font"><img class="logo hidden-mobile" src="/frisor-cleopatra/assets/images/favicon-48x48.png" alt="">FRISÖR CLEOPATRA</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              {% for item in site.data.navigation %}
                <li class="navLink"><a href="{{ item.link }}">{{ item.name }}</a></li>
              {% endfor %}
              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %}
              <li><a href="/frisor-cleopatra{{ page.url }}" class="lang-link "><img src="/frisor-cleopatra/assets/images/{{ page.lang }}.png" class="lang-link" alt="Engelska"></a></li>
              {% endfor %}
            </ul>
        </div>
        <img class="logo2 hidden-big-screen" src="/frisor-cleopatra/assets/images/favicon-48x48.png" alt="">
        <span class="navTrigger"> <!-- This is the navbar on phones -->
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>