<nav class="nav affix"> <!-- Start of the navbar -->
    <div class="container-lg">
        <div class="logo">
            <a href="#" class="logo-header-font"><img class="logo hidden-mobile" src="../assets/images/favicon-48x48.png" alt="">FRISÖR CLEOPATRA</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
              {% for item in site.data.navigation %}
                <li class="navLink"><a href="{{ item.link }}">{{ item.name }}</a></li>
              {% endfor %}
                <li class="navLink"><a href="../english/index.html"><img src="../assets/images/eng-icon.png" class="icon-link p-2" alt="Engelska"></a></li>
            </ul>
        </div>
        <img class="logo2 hidden-big-screen" src="../assets/images/favicon-48x48.png" alt="">
        <span class="navTrigger"> <!-- This is the navbar on phones -->
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>