@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
  }

body{
    max-width: 100%!important;
    max-height: 100%!important;
    min-height: 100%!important;
    min-width: 100%!important;
      
}

h1,
h2,
h3,
h4,
h5,
p 
{
    font-family: 'Bebas Neue', cursive;
    color: white;
}

.centerMain {
    background: white;
    padding: 5%;
    border-radius: 5%;
}

.bg-image{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat!important;
    background-position: center!important;
    height: 100vh;
    background-size: cover!important;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
