# This is a basic workflow to help you get started with Actions

name: HTML Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
defaults:
  run:
    working-directory: wwwroot/

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Tests:
    env:
      ASSETS_PATH: assets/
      IMAGES_PATH: assets/images/
      STYLES_PATH: assets/style/
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Update apt sources
        run: sudo apt update
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: npm install --global capture-website-cli
          
      - name: Live Check (Curl)
        run: curl -f https://ntig-uppsala.github.io/frisor-cleopatra/wwwroot/index.html
  
      - name: Grab Company Name (Grep)
        run: grep "Frisör Cleopatra" index.html #Checks if company name is in index.html
          
      - name: Grab Footer Tag (Grep)
        run: grep "<footer" index.html #Checks if footer is in index.html
        
      - name: Grab Address (Grep)
        run: grep "Fjällgatan 32H" index.html #Checks if company address is in index.html
      
      - name: Grab City (Grep)
        run: grep "981 39 Kiruna" index.html #Checks if company address is in index.html
        
      - name: Grab Opening Hours (Grep)
        run: grep "Öppettider" index.html #Checks if company opening hours is in index.html
          
      - name: Grab Phone Number (Grep)
        run: grep "0630-555-555" index.html #Checks if company phone number is in index.html
  
      - name: Grab Email (Grep)
        run: grep "info@ntig-uppsala.github.io" index.html #Checks if company e-mail is in index.html
        
        
      - name: Check if fb-icon is in footer and on all pages (Grep)
        run: grep "fb-icon.png" index.html

      - name: Check if ig-icon is in footer and on all pages (Grep)
        run: grep "ig-icon.png" index.html
        
      - name: Check if customer picture 1 is in footer and on all pages (Grep)
        run: grep "bild1.jpg" index.html

      - name: Check if customer picture 2 is in footer and on all pages (Grep)
        run: grep "bild2.jpg" index.html
        
      - name: Check if customer picture 3 is in footer and on all pages (Grep)
        run: grep "bild3.jpg" index.html

      - name: Check if customer picture 4 is in footer and on all pages (Grep)
        run: grep "bild4.jpg" index.html
        
      - name: Check if customer picture 5 is in footer and on all pages (Grep)
        run: grep "bild5.jpg" index.html

      - name: Grab service long hair (Grep)
        run: grep "Långt hår" index.html

      - name: Grab service short hair (Grep)
        run: grep "Kort hår" index.html

      - name: Grab service colouring (Grep)
        run: grep "Färgning" index.html

      - name: Grab service beard (Grep)
        run: grep "Skägg" index.html

      - name: Grab service topping (Grep)
        run: grep "Färgning" index.html

      - name: Grab service extensions short (Grep)
        run: grep "Extensions kort" index.html

      - name: Grab service extensions normal (Grep)
        run: grep "Extensions normal" index.html

      - name: Grab service children (age 0-13) (Grep)
        run: grep "Barn (0-13 år)" index.html

      - name: Grab service long hair regular (Grep)
        run: grep "Långt hår stamkund" index.html

      - name: Grab service short hair regular (Grep)
        run: grep "Kort hår stamkund" index.html
      
      - name: Grab map on site (Grep)
        run: grep "Kort hår stamkund" index.html

      - name: Grab header for "hemkörning" (Grep)
        run: grep "Hembesök" index.html
        
      - name: Grab header for "hemkörning" (Grep)
        run: grep "mymap" hitta-hit/index.html
        
        #Beacuse of the way the screenshot is taken we can nether set hover nor pointer atributes and therefor the easiest way to fix it is to just remove the element
      - name: HTML to Image desktop
        run: capture-website index.html --output=../views/MainPage.png --full-page --overwrite --userAgent="Mozilla/5.0 (Windows NT 10.0; rv:91.0) Gecko/20100101 Firefox/91.0" --removeElements=.hidden-big-screen
        
      - name: HTML to Image Iphone X
        run: capture-website index.html --output=../views/MainPagePhoneX.png --emulate-device="iPhone X" --full-page --overwrite

      - name: HTML to Image Pixel 2
        run: capture-website index.html --output=../views/MainPagePixel2.png --emulate-device="Pixel 2" --full-page --overwrite
        
      - name: HTML to Image desktop Hitta hit
        run: capture-website hitta-hit/index.html --output=../views/Hitta-hitPage.png --full-page --overwrite --userAgent="Mozilla/5.0 (Windows NT 10.0; rv:91.0) Gecko/20100101 Firefox/91.0"
        
      - name: HTML to Image Iphone X Hitta hit
        run: capture-website hitta-hit/index.html --output=../views/Hitta-hitPagePhoneX.png --emulate-device="iPhone X" --full-page --overwrite

      - name: HTML to Image Pixel 2 Hitta hit
        run: capture-website hitta-hit/index.html --output=../views/Hitta-hitPagePixel2.png --emulate-device="Pixel 2" --full-page --overwrite

      - name: Commit files that has been changed
        run: |
          git config --local user.name "Github Push Bot"
          git rm --cached -r ../views
          git add ../views
          git commit --allow-empty --quiet -m "Updating the repository with new generated image website view"
      - name: Push changes # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
