# This is a basic workflow to help you get started with Actions

name: HTML Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
defaults:
  run:
    working-directory: wwwroot/

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Tests:
    env:
      ASSETS_PATH: assets/
      IMAGES_PATH: assets/images/
      STYLES_PATH: assets/style/
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Live Check (Curl)
        run: curl -f https://ntig-uppsala.github.io/frisor-cleopatra/wwwroot/index.html
  
      - name: Grab Company Name (Grep)
        run: grep "Frisör Cleopatra" index.html #Checks if company name is in index.html
          
      - name: Grab Footer Tag (Grep)
        run: grep "<footer" index.html hitta-hit/index.html #Checks if company name is in index.html
        
      - name: Grab Address (Grep)
        run: grep "Fjällgatan 32H 981 39 KIRUNA" index.html hitta-hit/index.html #Checks if company name is in index.html
          
      - name: Grab Opening Hours (Grep)
        run: grep "Öppet Tider" index.html hitta-hit/index.html #Checks if company name is in index.html
          
      - name: Grab Phone Number (Grep)
        run: grep "0630-555-555" index.html hitta-hit/index.html #Checks if company name is in index.html
  
      - name: Grab Email (Grep)
        run: grep "info@ntig-uppsala.github.io" index.html hitta-hit/index.html #Checks if company name is in index.html
        
      - name: Check sha sum of fb-icon (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}fb-icon.sha
      
      - name: Check sha sum of ig-icon (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}fb-icon.sha
        
      - name: Check if fb-icon is in footer and on all pages (Grep)
        run: grep "fb-icon.png" index.html hitta-hit/index.html

      - name: Check if ig-icon is in footer and on all pages (Grep)
        run: grep "ig-icon.png" index.html hitta-hit/index.html
