name: HTML Validation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 # Requried will all actions
    - name: Checks HTML5
      uses: Cyb3r-Jak3/html5validator-action@v0.6.1
      with:
        root: ./wwwroot/ # Folder with source files
        blacklist: bootstrap
        
    - uses: actions/cache@v2
      with:
        path: tmp/.htmltest
        key: ${{ runner.os }}-htmltest

    - name: HTML Test
      run: |
        curl 'https://htmltest.wjdp.uk' | bash
        bin/htmltest
