# This is a basic workflow to help you get started with Actions

name: HTML Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
defaults:
  run:
    working-directory: wwwroot/

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Tests:
    env:
      ASSETS_PATH: assets/
      IMAGES_PATH: assets/images/
      STYLES_PATH: assets/style/
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Update apt sources
        run: sudo apt update
      
      - name: Install firefox for screenshot later
        run: | 
          sudo apt install nodejs,
          sudo apt install npm,
          sudo npm install --global capture-website-cli
      
      - name: Live Check (Curl)
        run: curl -f https://ntig-uppsala.github.io/frisor-cleopatra/wwwroot/index.html
  
      - name: Grab Company Name (Grep)
        run: grep "Frisör Cleopatra" index.html #Checks if company name is in index.html
          
      - name: Grab Footer Tag (Grep)
        run: grep "<footer" index.html #Checks if footer is in index.html
        
      - name: Grab Address (Grep)
        run: grep "Fjällgatan 32H 981 39 KIRUNA" index.html #Checks if company address is in index.html
          
      - name: Grab Opening Hours (Grep)
        run: grep "Öppettider" index.html #Checks if company opening hours is in index.html
          
      - name: Grab Phone Number (Grep)
        run: grep "0630-555-555" index.html #Checks if company phone number is in index.html
  
      - name: Grab Email (Grep)
        run: grep "info@ntig-uppsala.github.io" index.html #Checks if company e-mail is in index.html
        
      - name: Check sha sum of fb-icon (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}fb-icon.sha
      
      - name: Check sha sum of ig-icon (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}fb-icon.sha

      - name: Check sha sum of customer picture 1 (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}bild1.sha
      
      - name: Check sha sum of customer picture 2 (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}bild2.sha
        
      - name: Check sha sum of customer picture 3 (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}bild3.sha
      
      - name: Check sha sum of customer picture 4 (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}bild4.sha
        
      - name: Check sha sum of customer picture 5 (SHA256SUM)
        run: sha256sum --check ${IMAGES_PATH}bild5.sha
        
      - name: Check if fb-icon is in footer and on all pages (Grep)
        run: grep "fb-icon.png" index.html

      - name: Check if ig-icon is in footer and on all pages (Grep)
        run: grep "ig-icon.png" index.html
        
      - name: Check if customer picture 1 is in footer and on all pages (Grep)
        run: grep "bild1.jpg" index.html

      - name: Check if customer picture 2 is in footer and on all pages (Grep)
        run: grep "bild2.jpg" index.html
        
      - name: Check if customer picture 3 is in footer and on all pages (Grep)
        run: grep "bild3.jpg" index.html

      - name: Check if customer picture 4 is in footer and on all pages (Grep)
        run: grep "bild4.jpg" index.html
        
      - name: Check if customer picture 5 is in footer and on all pages (Grep)
        run: grep "bild5.jpg" index.html

      - name: Grab service long hair (Grep)
        run: grep "Långt hår" index.html

      - name: Grab service short hair (Grep)
        run: grep "Kort hår" index.html

      - name: Grab service colouring (Grep)
        run: grep "Färgning" index.html

      - name: Grab service beard (Grep)
        run: grep "Skägg" index.html

      - name: Grab service topping (Grep)
        run: grep "Färgning" index.html

      - name: Grab service extensions short (Grep)
        run: grep "Extensions kort" index.html

      - name: Grab service extensions normal (Grep)
        run: grep "Extensions normal" index.html

      - name: Grab service children (age 0-13) (Grep)
        run: grep "Barn (0-13 år)" index.html

      - name: Grab service long hair regular (Grep)
        run: grep "Långt hår stamkund" index.html

      - name: Grab service short hair regular (Grep)
        run: grep "Kort hår stamkund" index.html
        
      - name: HTML to Image
        run: capture-website index.html --output=pdf/MainPage.png --full-page --overwrite
      
      - name: Commit files that has been changed
        run: |
          git config --local user.name "Github Push Bot"
          git add ./pdf
          git commit -m "Updating the repository with new generated pdf webiste view"
      - name: Push changes # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
