name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - master # or master before October 2020
  workflow_dispatch:

  
defaults:
  run:
    working-directory: wwwroot/

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: helaili/jekyll-action@2.2.0
        with:
          target_branch: gh-pages
          target_path: v1.0 
          keep_history: true
          token: ${{ secrets.GITHUB_TOKEN }}
